.Card2 {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    max-width: 375px;
}

.information {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.secondary_info {
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.smoker {
    margin-top: 5px;
    margin-bottom: 5px;
}