.card {
    background-color:#ffffff;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody {
    display: flex;
    /* margin: 20px; */
}